body, html {
    height: 100%;
    margin: 0;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 20px;
    padding: 5px;
}

.item {
    margin-bottom: 10px;
}